<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743255835378-46jo1va46sec0km650pe311911h446nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743255835378-46jo1va46sec0km650pe311911h446nd</string>
	<key>API_KEY</key>
	<string>AIzaSyD2I1tBFHsVjcUvwyrlK4dmXJ6JoIKcY90</string>
	<key>GCM_SENDER_ID</key>
	<string>743255835378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.mestery.judoo</string>
	<key>PROJECT_ID</key>
	<string>judoo-e6862</string>
	<key>STORAGE_BUCKET</key>
	<string>judoo-e6862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743255835378:ios:a5a60b4d23f1f69487866b</string>
</dict>
</plist>